.avatar-preview.hover {
    border-color: #ffed80 !important;

}

.avatar-preview.error {
    border-color: #f00;
}

.avatar-preview.uploaded {
    border-color: #0f0;
}

.avatar-preview:hover {
  cursor: pointer;
}
